#dashboard {
    .search-button {
        background: var(--nex-brighter-100);
        border: 1px solid var(--bs-border-color-translucent);
        text-decoration: none;
        color: var(--nex-fg);
        padding: 0.33rem 2.5rem;
        border-radius: var(--bs-border-radius-lg);

        i {
            margin-right: 0.5rem;
        }
    }

    .search-button:hover {
        transition: all 0.15s ease;
        background: var(--nex-brighter-300);
        border: 1px solid var(--bs-border-color-translucent);
        cursor: pointer;
    }

    #home {
        position: absolute;
        top: 2rem;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 3.75rem 1rem 1rem 1rem;
        overflow: hidden;
        overflow-y: auto;

        .accordion {
            background: none;
            border: 1px solid var(--bs-border-color-translucent);
            border-radius: var(--bs-border-radius);
            overflow: hidden;

            .accordion-header {
                button {
                    background: var(--nex-brighter);
                    text-align: left;
                    font-size: 1.2rem;
                    padding: 1rem;
                    border: none;
                    width: 100%;
                    position: relative;

                    i {
                        position: absolute;
                        right: 0;
                        top: 0;
                        font-size: 1.2rem;
                        padding: 1rem;
                        rotate: 180deg;
                        transition: all 0.25s ease;
                    }
                }

                button.collapsed {
                    i {
                        rotate: 0deg;
                    }
                }
            }

            .accordion-item {
                background: var(--nex-brighter);
                border: none;
            }
        }
    }
}