#discover {
    .search-button {
        background: var(--nex-brighter-100);
        border: 1px solid var(--bs-border-color-translucent);
        text-decoration: none;
        color: var(--nex-fg);
        padding: 0.33rem 2.5rem;
        border-radius: var(--bs-border-radius-lg);

        i {
            margin-right: 0.5rem;
        }
    }

    .search-button:hover {
        transition: all 0.15s ease;
        background: var(--nex-brighter-300);
        border: 1px solid var(--bs-border-color-translucent);
        cursor: pointer;
    }
}