#search {
    background: url("../img/bg/discover-home.png") no-repeat center;
    z-index: 100;
    position: absolute;
    top: 0;

    transition: all 0.25s ease;

    .title-menu {
        display: flex;
        width: 100%;

        h4 {
            width: 100%;
            padding: 0;
            margin: 0;

            label {
                width: 100%;
                padding: 0.25rem 0.5rem;

                input[type="text"]:focus {
                    outline: none;
                }

                input {
                    border-radius: var(--bs-border-radius-lg);
                    font-size: 2rem;
                    background: none;
                    border: none;
                    width: 100%;
                }
            }
        }

        button {
            width: 2.5rem;
            height: 2.5rem;
            margin: 0.25rem;
            border-radius: var(--bs-border-radius-lg);
            background: var(--nex-darker-300);
            border: 1px solid var(--bs-border-color-translucent);
            box-shadow: 0 0 0.3rem #00000050;
        }

        button:hover {
            transition: all 0.15s ease;
            cursor: pointer;
            background: var(--nex-brighter-200);
            border: 1px solid var(--bs-border-color-translucent);
        }
    }



    .search-result {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.15s ease;
        overflow: hidden;

        img {
            transition: all 0.15s ease;
            border: 1px solid var(--bs-border-color-translucent);
            background: var(--nex-darker-200);
            border-radius: var(--bs-border-radius-lg);
            margin: 0 0.5rem;
            width: 8rem !important;
            height: 8rem !important;
        }

        img.active:hover {
            border: 1px solid white;
            scale: 1.05;
            rotate: 0.5deg;
            cursor: pointer;
        }

        div {
            overflow: hidden;
            flex-direction: column;
            text-shadow: none !important;
            width: 100%;
            height: 100%;

            .result-source {
                position: absolute;
                color: var(--nex-iv);
                background: var(--nex-darker-200);
                top: 0;
                right: 0;
                padding: 0.3rem 1rem;
                border-bottom-left-radius: var(--bs-border-radius);
                border-left: 1px solid var(--bs-border-color-translucent);
                border-bottom: 1px solid var(--bs-border-color-translucent);
                box-shadow: 0 0 0.3rem #00000050;
            }

            .result-summary-container {
                position: relative;
                height: 4.25rem;
                max-height: 4.25rem;
                overflow: hidden;
                text-overflow: ellipsis;

                span {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .result-actions-container {
                display: flex;
                flex-direction: row;
                padding: 0 0.5rem 0 0.05rem !important;
                position: absolute;
                bottom: 0;
                right: 0;
                width: calc(100% - 9.5rem);
                max-width: calc(100% - 9.5rem);
                height: 2rem;
                max-height: 2rem;
                overflow: hidden;

                div {
                    display: flex;
                    flex-direction: row;
                    gap: 0.5rem;

                    p {
                        height: fit-content;
                        padding: 0 0.5rem;
                        border-radius: var(--bs-border-radius-lg);
                        background: var(--nex-darker-200);
                        margin: 0 !important;

                        i {
                            margin-right: 0.25rem;
                        }
                    }

                    button.btn {
                        height: fit-content;
                        margin: 0;
                        padding: 0 1rem;
                    }

                    button:focus {
                        border: 1px solid white;
                    }
                }

                div.left {
                    text-align: left;
                }

                div.right {
                    text-align: right;
                    justify-content: right;
                }
            }
        }

        .btn-nex-primary {
            background: #dc6391;
            border-color: #ff92bb;
        }

        .btn-nex-primary:hover {
            background: #974665;
            border-color: #bf678a;
        }
    }

    .search-result.modrinth {
        .btn-nex-primary {
            background: #1aac57;
            border-color: #1bd866;
        }

        .btn-nex-primary:hover {
            background: #217e49;
            border-color: #23a155;
        }
    }

    .search-result.curseforge {
        .btn-nex-primary {
            background: #eb622b;
            border-color: #f18536;
        }

        .btn-nex-primary:hover {
            background: #bf582f;
            border-color: #d85d29;
        }
    }

    .search-result.nex {
        .btn-nex-primary {
            background: #1285ed;
            border-color: #57a9ff;
        }

        .btn-nex-primary:hover {
            background: #1d6bb5;
            border-color: #2e7cd6;
        }
    }

    .search-result:hover {
        background: var(--nex-darker) !important;
    }

    #loadmore {
        margin: 0 0.5rem 2.75rem 0.5rem;
        padding: 0.5rem 0;
        width: calc(100% - 1rem);
        background: var(--nex-primary);
        border: 1px solid var(--bs-border-color-translucent);
        border-radius: var(--bs-border-radius);
        transition: all 0.15s ease;
        box-shadow: 0 0 0.4rem #00000050;
    }

    #loadmore:hover {
        background: var(--nex-primary-accent);
        border: 1px solid var(--bs-border-color-translucent);
    }

    .category-container {
        strong {
            color: var(--nex-iv);
        }

        .category-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0.25rem 1rem !important;
            background: var(--nex-darker-200);
            border: 1px solid var(--bs-border-color-translucent);
            border-radius: var(--bs-border-radius-lg);
            margin: 0.25rem 0 0 0;
            transition: all 0.15s ease;
            width: 100%;

            .form-check-input.switch {
                margin: 0 0 0 2rem;
            }

            .form-check-input.switch:disabled {
                opacity: 1;
            }
        }

        .category-row:hover {
            background: var(--nex-darker-300);
        }
    }
}